src/main/resources/META-INF/rate-limiter.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.w3.org/schema/ratelimit"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.w3.org/schema/ratelimit"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:simpleType name="NonEmptyString">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="replace"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="annotation-driven">
        <xsd:complexType>
            <xsd:attribute name="packages" type="NonEmptyString" use="required"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>